<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="icon" href="../../../public/assets/images/coffee_HUy_Hoàng-removebg-preview.png">

    <!-- css -->
     
     <link rel="stylesheet" href="../../../public/assets/css/style.css">
  </head>
  <body>
    <div class="wrapper">
      <!-- header -->
      <header>
        <div class="inner-header container">
          <div class="header-title">
            <div id="logo"><a href="../../../public/assets/images/coffee_HUy_Hoàng-removebg-preview.png" class="logo"></a></div>
            <div id="toggle">
              <i class="bi bi-list"></i>
            </div>
          </div>
         
          <nav id="navbar" class="navbar">
            <ul id="main-menu">
              <li><a href="#">Trang Chủ</a></li>
              <li><a href="#about">Về Chúng Tôi</a>
              
                <li><a href="#lichsu">Lịch Sử</a>
                <li><a href="#doingu">Dội Ngũ</a></li>
              
                <li><a href="#menu">Menu</a></li>
                <li><a href="#specials">Khuyến Mãi</a></li>
                <!-- <li><a href="#events">Sự Kiện</a></li> -->
                <li><a href="#contact">Liên Hệ</a></li>
            
          </nav>
        </div>
      </header>

      <!-- banner -->
      <div id="banner">
        <div
          id="head"
          class="container"
          data-aos="zoom-out"
          data-aos-delay="100"
        >
          <h1>Chào mừng đến với <span>Coffee HUY HOÀNG</span></h1>
          <h2>Hãy thưởng thức</h2>
          <div class="d-flex">
            <a href="#" class="head_about">Get Started</a>
            <a
              href="https://www.youtube.com/watch?v=TMBVRf_mXPU"
              class="head_video"
              ><i class="bi bi-play-circle"></i><span>Watch Video</span></a
            >
          </div>
        </div>
      </div>

      #
    </div>
  </body>
</html>
